<?xml version='1.0' encoding='UTF-8'?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="Logs\\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <priority value="ERROR"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <category name="my.category">
      <priority value="ALL"/>
    </category>
  </log4net>
  <appSettings>
    <!-- production: prod = default, dev = false, FALSE-->
    <add key="showMessageForGuest" value="Enable"/>
    <add key="multiLang" value="Enable"/>
    <add key="production" value="False"/>
    <add key="startPage" value="Modules/Startpage/index.aspx"/>
    <add key="loginPage" value="Admin_module/Login.aspx"/>
    <add key="ErrorAuthPage" value="~/Modules/No_access/index.aspx"/>
    <add key="redmineUrl" value="http://10.10.20.89/redmine/projects"/>
    <add key="DataProvider" value="/DataProvider/OraWCI.aspx"/>
    <add key="FileUploadServiceName" value="/Modules/XLSCreator/index.aspx"/>
    <add key="calcRestUrl" value="http://localhost:8095/CalcREST/"/>
    <add key="calcServiceName" value="CalcService.jar"/>
    <add key="javaVariablePath" value="C:\Program Files\Java\jre7\bin\java.exe"/>
    <add key="AuthMode" value="Enable"/>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="DBSchemeName" value="gmt_mapd"/>
    <!--Oracle: OraAutoConn   MSSQL: SQLConn-->
    <add key="DBType" value="SQLConn"/>
    <add key="nHiberConfigName" value="MsSqlHibernate.cfg.xml"/>
    <!-- стиль для -->
    <add key="TelerikUserSkin" value="Flash"/>
    <!-- дефолтный стиль для телерик-контролов-->
    <add key="Telerik.Skin" value="Office2010Silver"/>
    <!-- Telerik.EnableEmbeddedSkins ломает RadGrid. По этому 
         присваиваю каждому контролу свойство отдельно -->
    <add key="Telerik.ComboBox.EnableEmbeddedSkins" value="false"/>
    <add key="Telerik.RadInput.EnableEmbeddedSkins" value="false"/>
    <add key="Telerik.RadButton.EnableEmbeddedSkins" value="false"/>
    <add key="Telerik.RadNumericTextBox.EnableEmbeddedSkins" value="false"/>
    <add key="Telerik.RadTextBox.EnableEmbeddedSkins" value="false"/>
    <add key="Telerik.RadListBox.EnableEmbeddedSkins" value="false"/>
    <add key="Telerik.RadMenu.EnableEmbeddedSkins" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DBConn" connectionString="Data Source=10.10.20.67/ptr;Persist Security Info=True;User ID=gis_meta_api;Password=gis_meta_api;Unicode=True;Max Pool Size=500" providerName="System.Data.OracleClient"/>-->
    <add name="DBConn1" connectionString="Data Source=10.10.20.81; Initial Catalog= DB_API; UID=login;pwd=login"/>
     <add name="DBConn" connectionString="Data Source=172.16.200.110; Initial Catalog= DB_API; UID=db_user;pwd=db_user"/>
    <!--<add name="DBConn" connectionString="Data Source=10.10.20.81; Initial Catalog= DB_API; UID=db_user;pwd=db_user"/>-->
    <add name="DBConn3" connectionString="Data Source=10.10.20.85; Initial Catalog= DB_API; UID=login;pwd=login"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="400480" executionTimeout="420"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" batch="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows">
      <forms loginUrl="Admin_module/Login.aspx" name="Authentication" timeout="30"/>
    </authentication>
    <sessionState timeout="30"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
    <!--<membership defaultProvider="OracleMembershipProvider" userIsOnlineTimeWindow="60">
      <providers>
        <clear/>
        <add connectionStringName="Ora" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="OracleMembershipProvider" type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=2.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      </providers>
    </membership>-->
    <authorization>
      <!--<deny users="?" />-->
      <allow users="*"/>
    </authorization>
  </system.web>
  <location path="Admin_module/Login.aspx"/>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ITT.XLS_Importer.Modules.Services.XlsImporter">
        <endpoint binding="webHttpBinding" contract="ITT.Exporter.IXlsImporter" behaviorConfiguration="webHttp" bindingConfiguration="ServiceDataBindingWeb"/>
      </service>
      <service name="ITT.OD_WCF_Service.Modules.Services.OdService">
        <endpoint binding="webHttpBinding" contract="ITT.OD_WCF_Service.IOdService" behaviorConfiguration="webHttp" bindingConfiguration="ServiceDataBindingWeb"/>
      </service>
      <service name="ITT.Repair_Rem_Map_WCF_Service.Modules.Services.RepairRemontMapService">
        <endpoint binding="webHttpBinding" contract="ITT.Repair_Rem_Map_WCF_Service.IRepairRemontMapService" behaviorConfiguration="webHttp" bindingConfiguration="ServiceDataBindingWeb"/>
      </service>
      <service name="ServiceData">
        <endpoint address="" binding="basicHttpBinding" contract="IServiceData" bindingConfiguration="ServiceDataBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" bindingConfiguration="ServiceDataBinding"/>
      </service>
      <service name="importDEWCF_ImpDde">
        <endpoint address="" binding="basicHttpBinding" contract="IimportDEWCF_ImpDde" bindingConfiguration="ServiceDataBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" bindingConfiguration="ServiceDataBinding"/>
      </service>
      <service name="oraWCFService_ImpVtd">
        <endpoint address="" binding="basicHttpBinding" contract="IoraWCFService_ImpVtd" bindingConfiguration="ServiceDataBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" bindingConfiguration="ServiceDataBinding"/>
      </service>
      <service name="CompareVtdService_CompareImpVtd">
        <endpoint address="" binding="basicHttpBinding" contract="IcompareVTDService_CompareImpVTD" bindingConfiguration="ServiceDataBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" bindingConfiguration="ServiceDataBinding"/>
      </service>
      <service name="WCFService_ImportKIP">
        <endpoint address="" binding="basicHttpBinding" contract="IWCFService_ImportKIP" bindingConfiguration="ServiceDataBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="basicHttpBinding" contract="IMetadataExchange" bindingConfiguration="ServiceDataBinding"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceDataBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="Windows"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="ServiceDataBindingWeb" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None">
            <transport clientCredentialType="Windows"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="od" stopProcessing="true">
          <match url="^([a-z]{2,3}-[A-Z]{2,3})/od/(.*)$"/>
          <action type="Rewrite" url="/Modules/Services/OdService.svc/{R:1}/{R:2}"/>
        </rule>
        <rule name="repairpipemap" stopProcessing="true">
          <match url="^repairpipemap/(.*)$"/>
          <action type="Rewrite" url="/Modules/Services/RepairRemontMapService.svc/ru-RU/{R:1}"/>
        </rule>
        <!--   <rule name="od" stopProcessing="true">
          <match url="([a-z]{2,3}-[A-Z]{2,3})/od/(.*)" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^(https?)://" />
          </conditions>
          <action type="Rewrite" url="{C:1}://localhost:8881/{R:0}" />
        </rule>
        <rule name="repairpipemap" stopProcessing="true">
          <match url="^repairpipemap/(.*)"/>
          <conditions>
            <add input="{CACHE_URL}" pattern="^(https?)://"/>
          </conditions>
          <action type="Rewrite" url="{C:1}://localhost:8882/{R:0}"/>
        </rule> -->
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
