

.RadMenu_Users .rmRootGroup, .RadMenu_Users a.rmLink, .RadMenu_Users .rmGroup .rmText, .RadMenu_Users .rmVertical .rmText, .RadMenu_Users .rmLeftArrow, .RadMenu_Users .rmRightArrow, .RadMenu_Users .rmTopArrow, .RadMenu_Users .rmBottomArrow
{
    /*background-image: url('Menu/rmSprite.png');
    background-color: transparent;*/
    border: none;
        background-repeat: no-repeat;

}
.RadMenu_Users .rmRootGroup
{
    border: 1px solid #828282;
    background-repeat: repeat-x;
    background-position: 0 -408px; /*background-color: #e6e6e6;*/
    border: none;
}
.RadMenu_Users, .RadMenu_Users a.rmLink
{
    font: normal 12px/23px "Segoe UI" ,Arial,sans-serif;
    color: #000;
    text-decoration: none;
}
.RadMenu_Users a.rmLink, .RadMenu_Users a.rmDisabled, .RadMenu_Users a.rmDisabled:hover
{
    /*background-position: 0 -72px;*/
}
.RadMenu_Users .rmFirst a.rmLink, .RadMenu_Users .rmFirst a.rmLink:hover, .RadMenu_Users .rmLast .rmText, .RadMenu_Users .rmLast a.rmLink:hover .rmText, .RadMenu_Users .rmVertical a.rmLink, .RadMenu_Users .rmVertical .rmText
{
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 500px;
}
.RadMenu_Users .rmVertical .rmFirst, .RadMenu_Users .rmVertical .rmLast
{
    background: none;
}
.RadMenu_Users a.rmLink:hover, .RadMenu_Users a.rmFocused, .RadMenu_Users a.rmSelected
{
    /*background-color: #fff;*/
    border: 0px;
    margin:0px;
    position:relative;
}
.RadMenu_Users .rmHorizontal .rmRootLink span.rmText
{
    display: inline;
    padding-left: 12px;
}
.RadMenu_Users_rtl .rmRootLink span.rmText
{
    /*padding-right: 0px;*/
}
.RadMenu_Users_Context_rtl .rmRootLink span.rmText
{
    padding-right: 0px;
}
.RadMenu_Users .rmHorizontal a.rmRootLink
{
    padding-left: 0;
}
.RadMenu_Users_rtl a.rmRootLink
{
    /*margin-left: 0;     padding: 0;*/
}
.RadMenu_Users .rmHorizontal .rmItem > a.rmRootLink
{
    /*width: 100%;*/
}
.RadMenu_Users ul.rmHorizontal .rmLeftImage
{
    /*margin: 4px 24px 0 6px;*/
    position: relative;
    margin: 0px;
    /*background-position: 100%;*/
    width: 22px;
    height:22px;
    /*padding-left: 24px !important; padding-right: 0px !important;*/
}
.RadMenu_Users_rtl ul.rmHorizontal .rmLeftImage
{
    /*margin: 4px 6px 0 -4px;*/
    position: relative;
    margin: 0px;
    width: 22px;
    height:22px;
    /*background-position: 100%; padding-left: 20px !important;     padding-right: 0px !important;*/
}
.RadMenu_Users .rmVertical a.rmLink
{
    padding-top: 1px;
    padding-bottom: 1px;
}
.RadMenu_Users .rmVertical a.rmLink:hover, .RadMenu_Users .rmVertical a.rmFocused, .RadMenu_Users .rmVertical a.rmSelected, .RadMenu_Users .rmVertical a.rmExpanded, .RadMenu_Users .rmVertical a.rmExpanded:hover
{
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0px 0;
    position: relative;
}
.RadMenu_Users .rmVertical .rmFirst a.rmLink:hover, .RadMenu_Users .rmVertical .rmFirst a.rmFocused, .RadMenu_Users .rmVertical .rmFirst a.rmSelected, .RadMenu_Users .rmVertical .rmFirst a.rmExpanded, .RadMenu_Users .rmVertical .rmFirst a.rmExpanded:hover
{
    padding-top: 1px;
    padding-bottom: 0;
    border-top-width: 0;
    position: relative;
}
.RadMenu_Users .rmVertical .rmLast a.rmLink:hover, .RadMenu_Users .rmVertical .rmLast a.rmFocused, .RadMenu_Users .rmVertical .rmLast a.rmSelected, .RadMenu_Users .rmVertical .rmLast a.rmExpanded, .RadMenu_Users .rmVertical .rmLast a.rmExpanded:hover
{
    padding-bottom: 1px;
    padding-top: 0;
    border-bottom-width: 0;
    position: relative;
}
.RadMenu_Users .rmVertical .rmItem a.rmDisabled:hover
{
    padding-top: 1px;
    padding-bottom: 1px;
    border-width: 0;
}
.RadMenu_Users a.rmExpanded, .RadMenu_Users a.rmExpanded:hover
{
    background-color: #fff;
}
.RadMenu_Users a.rmDisabled, .RadMenu_Users a.rmDisabled:hover
{
    color: #7d7d7d;
    background-color: transparent;
}
.RadMenu_Users .rmGroup, .RadMenu_Users .rmMultiColumn, .RadMenu_Users .rmGroup .rmVertical
{
    background: #fff url('Menu/rmVSprite.png') repeat-y 0 0;
}
.RadMenu_Users .rmTopFix, .RadMenu_Users .rmBottomFix, .RadMenu_Users .rmRoundedCorners .rmGroup .rmItem, .RadMenu_Users .rmRoundedCorners li.rmFirstGroupColumn .rmItem, .RadMenu_Users .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, .RadMenu_Users .rmRoundedCorners ul.rmHorizontal .rmFirst, .RadMenu_Users_Context.rmRoundedCorners .rmGroup .rmItem, .RadMenu_Users_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #fff;
    background-repeat: repeat-y;
}
* html .rmRoundedCorners_Default .rmGroup .rmItem, * html .rmRoundedCorners_Default ul.rmHorizontal .rmFirst
{
    background-image: url('Menu/rmVSprite.png');
    background-color: #fff;
    background-repeat: repeat-y;
}
.RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_Users .rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_Users .rmRoundedCorners .rmGroupColumn .rmItem, .RadMenu_Users .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem, .RadMenu_Users .rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_Users .rmRoundedCorners .rmScrollWrap .rmVertical, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_Users_Context.rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
    background-image: none;
}
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmGroup, * html .rmRoundedCorners_Default .rmScrollWrap .rmItem, * html .rmRoundedCorners_Default .rmHorizontal .rmItem, * html .rmRoundedCorners_Default .rmScrollWrap .rmVertical
{
    background-image: none;
}
.RadMenu_Users .rmRoundedCorners .rmGroupColumn
{
    background-color: #fff;
}
.RadMenu_Users .rmBottomLeft, .RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer, .RadMenu_Users_Context.rmRoundedCorners ul.rmGroup, .RadMenu_Users .rmRoundedCorners ul.rmGroup, .RadMenu_Users .rmRoundedCorners .rmMultiColumn
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}
* html .rmRoundedCorners_Default .rmScrollWrapContainer, * html .rmRoundedCorners_Default .rmGroup ul.rmGroup, * html .rmRoundedCorners_Default ul.rmGroup
{
    background-image: url('Menu/rmRoundedLeft.png');
    background-color: transparent;
    background-repeat: no-repeat;
}
.RadMenu_Users .rmTopRight, .RadMenu_Users .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight.png');
    background-color: transparent;
    background-repeat: no-repeat;
}
.RadMenu_Users .rmTopFix, .RadMenu_Users .rmBottomFix, .RadMenu_Users .rmRoundedCorners .rmGroup .rmFirst, .RadMenu_Users_Context.rmRoundedCorners .rmGroup .rmFirst, .rmRoundedCorners_Default .rmGroup .rmFirst
{
    border-color: #979797;
}
.RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
    background: #FFF;
}
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmTopFix, * html .rmRoundedCorners_Default .rmScrollWrapContainer .rmBottomFix
{
    background: #FFF;
}
.RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
    background-color: #FFF;
    border: 0;
}
* html .rmRoundedCorners_Default .rmScrollWrapContainer .rmTopArrow, * html .rmRoundedCorners_Default .rmScrollWrapContainer .rmBottomArrow, * html .rmRoundedCorners_Default .rmScrollWrapContainer .rmLeftArrow, * html .rmRoundedCorners_Default .rmScrollWrapContainer .rmRightArrow
{
    background-color: #FFF;
    border: 0;
}
.RadMenu_Users_rtl .rmBottomLeft, .RadMenu_Users_rtl .rmRoundedCorners ul.rmGroup, .RadMenu_Users_rtl .rmRoundedCorners .rmMultiColumn, .RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_Users .rmScrollWrapContainer .rmBottomLeft, .rmRoundedCorners.RadMenu_Users_Context_rtl ul.rmGroup, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer
{
    background-image: url('Menu/rmRoundedLeft_rtl.png');
}
.RadMenu_Users_rtl .rmTopRight, .RadMenu_Users_rtl .rmBottomRight
{
    background-image: url('Menu/rmRoundedRight_rtl.png');
}
.RadMenu_Users_rtl li.rmTopFix, .RadMenu_Users_rtl li.rmBottomFix, .RadMenu_Users_rtl .rmRoundedCorners .rmGroup .rmItem, .rmRoundedCorners.RadMenu_Users_Context_rtl .rmGroup .rmItem
{
    background-position: 100% 0;
}
.RadMenu_Users .rmSlide .rmScrollWrap
{
    background-image: none;
}
.RadMenu_Users_rtl .rmGroup, .RadMenu_Users_rtl .rmMultiColumn, .RadMenu_Users_rtl .rmGroup .rmVertical
{
    background-position: 100% 0;
}
.RadMenu_Users .rmRootGroup li.rmItem .rmGroup
{
    padding-bottom: 0;
    border: none;
}
.RadMenu_Users .rmRootGroup .rmHorizontal
{
    background-image: none;
    border: none;
}
.RadMenu_Users .rmScrollWrap .rmVertical
{
    border: 0;
}
.RadMenu_Users .rmRoundedCorners .rmScrollWrapContainer li.rmItem, .RadMenu_Users_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem, .rmRoundedCorners_Default .rmScrollWrapContainer li.rmItem
{
    background: none;
}
.RadMenu_Users .rmGroup .rmItem a.rmLink, .RadMenu_Users .rmGroup .rmItem a.rmLink:hover, .RadMenu_Users .rmGroup .rmItem a.rmFocused, .RadMenu_Users .rmGroup .rmItem a.rmSelected, .RadMenu_Users .rmGroup .rmItem a.rmExpanded
{
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}
.RadMenu_Users .rmGroup .rmLast a.rmLink, .RadMenu_Users .rmGroup .rmLast a.rmLink:hover, .RadMenu_Users .rmGroup .rmLast a.rmFocused, .RadMenu_Users .rmGroup .rmLast a.rmSelected, .RadMenu_Users .rmGroup .rmLast a.rmExpanded
{
    padding-bottom: 1px;
}
.RadMenu_Users .rmGroup a.rmLink, .RadMenu_Users .rmGroup .rmText, .RadMenu_Users .rmGroup .rmItem a.rmDisabled, .RadMenu_Users .rmGroup .rmItem a.rmDisabled:hover, .RadMenu_Users .rmGroup .rmItem a.rmDisabled .rmText, .RadMenu_Users .rmGroup .rmItem a.rmDisabled:hover .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
    background-color: transparent;
}
.RadMenu_Users .rmGroup a.rmLink:hover, .RadMenu_Users .rmGroup a.rmFocused, .RadMenu_Users .rmGroup a.rmSelected, .RadMenu_Users .rmGroup a.rmExpanded
{
    background-position: 100%;
}
.RadMenu_Users .rmGroup a.rmLink:hover .rmText, .RadMenu_Users .rmGroup a.rmFocused .rmText, .RadMenu_Users .rmGroup a.rmSelected .rmText, .RadMenu_Users .rmGroup a.rmExpanded .rmText
{
    background-position: 100%; /* -192px*/
}
.RadMenu_Users .rmRootGroup .rmExpandRight, .RadMenu_Users .rmGroup .rmExpandDown, .RadMenu_Users_Context .rmGroup .rmExpandRight, .RadMenu_Users .rmRootGroup .rmItem a.rmDisabled .rmExpandRight, .RadMenu_Users .rmGroup .rmItem a.rmDisabled .rmExpandDown, .RadMenu_Users .rmRootGroup .rmItem a.rmDisabled:hover .rmExpandRight, .RadMenu_Users .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
    background-position: 100% -216px;
    border: none;
}
.RadMenu_Users a.rmLink:hover .rmExpandRight, .RadMenu_Users .rmLast a.rmLink:hover .rmExpandRight, .RadMenu_Users a.rmFocused .rmExpandRight, .RadMenu_Users a.rmSelected .rmExpandRight, .RadMenu_Users a.rmExpanded .rmExpandRight
{
    background-position: 100%; /*-312px*/
}
.RadMenu_Users .rmGroup a.rmLink:hover .rmExpandRight, .RadMenu_Users .rmGroup a.rmFocused .rmExpandRight, .RadMenu_Users .rmGroup a.rmSelected .rmExpandRight, .RadMenu_Users .rmGroup a.rmExpanded .rmExpandRight, .RadMenu_Users .rmGroup a.rmLink:hover .rmExpandDown, .RadMenu_Users .rmGroup a.rmFocused .rmExpandDown, .RadMenu_Users .rmGroup a.rmSelected .rmExpandDown, .RadMenu_Users .rmGroup a.rmExpanded .rmExpandDown
{
    background-position: 100% ; /*-240px*/
}
.RadMenu_Users .rmRootGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_Users .rmGroup a.rmDisabled:hover .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
    background-position: 100% -216px;
    border: none;
}
.RadMenu_Users_rtl a.rmLink, .RadMenu_Users_rtl .rmRootGroup a.rmDisabled
{
    background-position: 100% -96px;
    border: none;
}
.RadMenu_Users_rtl .rmGroup a.rmDisabled
{
    background: none;
}
.RadMenu_Users_rtl .rmText
{
    background-position: 0 -96px;
}
.RadMenu_Users_rtl .rmVertical a.rmExpanded .rmText, .RadMenu_Users_rtl .rmVertical a.rmExpanded:hover .rmText
{
    background-position: 0 500px;
    background-repeat: no-repeat;
}
.RadMenu_Users_rtl .rmGroup a.rmLink:hover, .RadMenu_Users_rtl .rmGroup a.rmFocused, .RadMenu_Users_rtl .rmGroup a.rmSelected, .RadMenu_Users_rtl .rmGroup a.rmExpanded
{
    background-position: 100%; /* -264px;*/
}
.RadMenu_Users_rtl .rmGroup a.rmLink:hover .rmText, .RadMenu_Users_rtl .rmGroup a.rmFocused .rmText, .RadMenu_Users_rtl .rmGroup a.rmSelected .rmText, .RadMenu_Users_rtl .rmGroup a.rmExpanded .rmText
{
    background-position: 0; /* -288px;*/
}
.RadMenu_Users_Context_rtl .rmVertical .rmExpandLeft, .RadMenu_Users_rtl .rmRootGroup .rmExpandLeft
{
    background-position: 0; /*-312px;*/
    border: none;
}
.RadMenu_Users_rtl .rmVertical a.rmLink:hover .rmExpandLeft, .RadMenu_Users_rtl .rmVertical a.rmFocused .rmExpandLeft, .RadMenu_Users_rtl .rmVertical a.rmSelected .rmExpandLeft, .RadMenu_Users_rtl .rmVertical a.rmExpanded .rmExpandLeft
{
    background-position: 0; /* -216px;*/
}
.RadMenu_Users_rtl .rmGroup a.rmLink:hover .rmExpandLeft, .RadMenu_Users_rtl .rmGroup a.rmFocused .rmExpandLeft, .RadMenu_Users_rtl .rmGroup a.rmSelected .rmExpandLeft, .RadMenu_Users_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-position: 0; /*-336px;*/
}
.RadMenu_Users_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-position: 0 -312px;
    border: none;
}
.RadMenu_Users .rmSlide
{
    margin: 0 0 0 -1px;
}
.RadMenu_Users .rmVertical .rmSlide, .RadMenu_Users .rmSlide .rmSlide, .RadMenu_Users_Context .rmGroup .rmSlide
{
    margin: 0 0 0 -5px;
}
.RadMenu_Users_rtl .rmSlide
{
    margin: 0;
}
.RadMenu_Users_rtl .rmFirst .rmSlide
{
    margin-left: 1px;
}
.RadMenu_Users_rtl .rmVertical .rmSlide, .RadMenu_Users_rtl .rmSlide .rmSlide, .RadMenu_Users_Context_rtl .rmGroup .rmSlide
{
    margin: 0 0 0 5px;
}
.RadMenu_Users .rmLeftArrow, .RadMenu_Users .rmRightArrow
{
    background-color: #E6E6E6;
}
.RadMenu_Users .rmLeftArrow
{
    background-position: -8px -312px;
    border-right: 1px solid #828282;
}
.RadMenu_Users .rmRightArrow
{
    background-position: -482px -216px;
    border-left: 1px solid #828282;
}
.RadMenu_Users .rmTopArrow, .RadMenu_Users .rmBottomArrow, .RadMenu_Users .rmGroup .rmLeftArrow, .RadMenu_Users .rmGroup .rmRightArrow
{
    background-color: #E6E6E6;
}
.RadMenu_Users .rmTopArrow
{
    background-position: 50% -367px;
    border-bottom: 1px solid #828282;
}
.RadMenu_Users .rmBottomArrow
{
    background-position: 50% -391px;
    border-top: 1px solid #828282;
}
.RadMenu_Users .rmHorizontal .rmSeparator .rmText, .RadMenu_Users .rmVertical .rmHorizontal .rmSeparator .rmText
{
    height: 22px;
    margin: 1px 0 0;
    width: 1px;
    background-color: #A8A8A8;
}
.RadMenu_Users_Context .rmSeparator .rmText, .RadMenu_Users .rmHorizontal .rmGroup .rmSeparator .rmText, .RadMenu_Users .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
    background-color: transparent;
    background-position: 0 -406px;
}

.RadMenu_Users .rmGroup .rmLink
{
    padding-left: 0px !important;
}

/*.RadMenu_Users .rmGroup .rmLink .rmText
{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.RadMenu_Users .rmRootGroup {
    border: none;
}

.RadMenu_Users .rmGroup
{ 
    border: none; 
    background-color: #fff;
}*/